<!DOCTYPE html>
<html>
<head>
  <title>Capstone Project Tool Sharing App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>


  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;1,500;1,600&family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  
  <nav class="top-bar">
    <h3>
      <a href="/">
        <img src="<%= asset_path("tuulbox-logo-v6.png") %>">
      </a> 
    </h3>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%- else -%>
            <%= button_to 'Sign Up', new_user_registration_path %>
            <%= button_to 'Sign In', new_user_session_path %>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <div class="body-content">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
