<!DOCTYPE html>
<html>
<head>
  <title>Mighty Tuulbox Sharing App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>


  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;1,500;1,600&family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  
  <!-- mobile nav bar -->
<div class="title-bar top-bar-center-logo-mobile" data-responsive-toggle="top-bar-center-logo" data-hide-for="medium">
  <div class="title-bar-left">
    <div class="title-bar-title">
      <a href="/"><img src="<%= asset_path("tuulbox-logo-v6.png") %>"></a>
    </div>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle="top-bar-center-logo"></button>
  </div>
</div>
<!-- /mobile nav bar -->

<!-- medium and larger nav bar -->
<div class="top-bar top-bar-center-logo" id="top-bar-center-logo">
  <div class="top-bar-left">
    <ul class="menu vertical medium-horizontal">
      <li class="top-bar-left-text">XXXXXXXXXXXXXXXXX</li>
    </ul>
  </div>
  <div class="top-bar-center">
    <a href="/"><img src="<%= asset_path("tuulbox-logo-v6.png") %>"></a>
  </div>

  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
       <%- if current_user -%>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
            <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
        <%- else -%>
            <%= link_to 'Sign Up', new_user_registration_path %>
            <%= link_to 'Log In', new_user_session_path %>
        <%- end -%>
    </ul>
  </div>
</div>
<!-- /medium and larger nav bar -->

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <div class="flash flash-alert">
        <h5><%= value %></h5>
      </div>
    </div>
  <%- end -%>
  <div class="body-content">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>

<footer>
  <div class="footer">
    <p class="footer-content">Share Your Tools</p>
  </div>
</footer>
</html>
